<div class="card-group">
    <div class="card">
      <img src="../../../assets/images/btc.png" class="card-img-top" id="bitcoin" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bitcoin</h5>
        <p class="card-text">Bitcoin is a decentralized digital currency that can be transferred on the peer-to-peer 
          bitcoin network. Bitcoin transactions are verified by network nodes through cryptography and recorded in a 
          public distributed ledger called a blockchain.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/eth.png" class="card-img-top" id="ether" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ethereum</h5>
        <p class="card-text">Ethereum is a decentralized, open-source blockchain with smart contract functionality. 
          Ether is the native cryptocurrency of the platform. Among cryptocurrencies, Ether is second only to Bitcoin in 
          market capitalization. Ethereum was conceived in 2013 by programmer Vitalik Buterin.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/bnc.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Binance USD</h5>
        <p class="card-text">Binance USD (BUSD) is a new USD-denominated stablecoin approved by the New York State 
          Department of Financial Services (NYDFS) that will be launched in partnership with Paxos and Binance.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

    <div class="card-body">
      <h3 class="card-title">What is cryptocurrency and how does it work?
      </h3>
      <h6 class="card-subtitle mb-2 text-muted">A brief explination of cryptocurrencies</h6>
      <p class="card-text">Cryptocurrencies run on a distributed public ledger called blockchain, a record of all 
        transactions updated and held by currency holders.
        Units of cryptocurrency are created through a process called mining, which involves using computer power to
         solve complicated mathematical problems that generate coins. Users can also buy the currencies from brokers, 
         then store and spend them using cryptographic wallets.
        If you own cryptocurrency, you don’t own anything tangible. What you own is a key that allows you to move a record 
        or a unit of measure from one person to another without a trusted third party.
        Although Bitcoin has been around since 2009, cryptocurrencies and applications of blockchain technology are still 
        emerging in financial terms, and more uses are expected in the future. Transactions including bonds, stocks, and 
        other financial assets could eventually be traded using the technology.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
<br>


