<div class="about">
    <div class="card" style="width: 70rem;" >
        <div class="card-body">
        <h5 class="card-title">About</h5>
        <h6 class="card-subtitle mb-2 text-muted">Description</h6>
        <p class="card-text">This plateforme is a project developed by two master's student, CHAOUI Hamza & AZOUZ Abdelali. 
           <br> The main objective of the project is the realization of an ETL platform “Extract, Transform and
            Load” and Data Visualization / Analysis. </p>
        </div>
    </div>
</div>